apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: azureaiservices.ally-dev-gpt.openai.azure.com
spec:
  group: ally-dev-gpt.openai.azure.com
  names:
    kind: AzureAIService
    listKind: AzureAIServiceList
    plural: azureaiservices
    singular: azureaiservice
    shortNames:
      - aais
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      additionalPrinterColumns:
        - name: Image
          type: string
          jsonPath: .spec.image
        - name: Replicas
          type: integer
          jsonPath: .spec.replicas
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                replicas:
                  type: integer
                  default: 1
                  minimum: 1
                port:
                  type: integer
                  default: 8080
                serviceType:
                  type: string
                  default: ClusterIP
                  enum: [ClusterIP, NodePort, LoadBalancer]
                credentialsSecret:
                  type: string
                  default: azure-openai-credentials
                configMap:
                  type: string
                  default: azure-openai-config
                resources:
                  type: object
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
